python packages pip install following packages -
Keras
Keras-Applications
Keras-Preprocessing
Markdown
Pillow
PyYAML
Werkzeug
absl-py
astor
certifi
cycler
gast
google-pasta
grpcio
h5py
joblib
kiwisolver
matplotlib
nltk
numpy
opt-einsum
pandas
patsy
pip
protobuf
py4j
pyparsing
pyspark
pyspark-stubs	post	post
python-dateutil
pytz
scikit-learn
scipy
setuptools
six
statsmodels
tensorboard
tensorflow
tensorflow-estimator
termcolor
wheel
wrapt
xgboost